{% load static %}
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <div class="logo"><a href="javascript:;" title="CoffeeWii">CoffeeWii</a></div>               
        <div class="company" >                  
          <p>
          TEL : 1234-5648&nbsp;&nbsp;/&nbsp;&nbsp;FAX :02-1234-5678 &nbsp;&nbsp;/&nbsp;&nbsp;  E-Mail : lwy0334@naver.com<br>
          본원 : 서울역 2번출구 31번 째 계단 &nbsp;&nbsp;/&nbsp;&nbsp; 개인정보보호책임자 : 신원열<br>
          대표자 : 한예현 &nbsp;&nbsp;/&nbsp;&nbsp; 사업자등록번호 : 360-85-01719  &nbsp;&nbsp;/&nbsp;&nbsp; 통신판매신고 : 커피 한잔의 여유<br><br>
          Copyright ⓒ (K)CoffeeWii. All Rights Reserved.</p>
        </div>
      </div>

  </footer>