{% load static %}
<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">COFFEEWILL ACADEMY</a>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>  
      <div class="col-4 d-flex justify-content-end align-items-center">
        </a>
        {% comment %} 조건식 처리 {% endcomment %}
        <a class="btn btn-sm btn-outline-secondary" href="#">로그인</a>
        <a class="btn btn-sm btn-outline-secondary" href="#">회원가입</a>

        <a class="btn btn-sm btn-outline-secondary" href="#">로그아웃</a>

      </nav>
    </div>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <p></p><a class="p-2 link-secondary" href="/">홈</a>
      <a class="p-2 link-secondary" href="#">아카데미소개</a>    
      <a class="p-2 link-secondary" href="#">수강문의</a>
      <a class="p-2 link-secondary" href="#">교육과정</a>
      <a class="p-2 link-secondary" href="#">커뮤니티</a>
      <a class="p-2 link-secondary" href="#">창업문의</a>
      <a class="p-2 link-secondary" href="#">찾아오는길</a><p></p>
    </nav>
  </div>

 
